@model DesafioPV.Models.Fornecedor

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Fornecedor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.DropDownListFor(model => model.Empresa,
                    ((IEnumerable<Empresa>)ViewBag.ListaEmpresa).Select(option => new SelectListItem
                    {
                        Text = option.NomeFantasia + " - " + option.UF,
                        Value = option.ID.ToString(),
                        Selected = (Model != null) && (option.ID == Model.Empresa.ID)
                }), "Escolha uma opção...", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpfCnpj" class="control-label"></label>
                <input asp-for="CpfCnpj" class="form-control" />
                <span asp-validation-for="CpfCnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rg" class="control-label"></label>
                <input asp-for="Rg" class="form-control" />
                <span asp-validation-for="Rg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtNascimento" class="control-label"></label>
                <input asp-for="DtNascimento" class="form-control"/>
                <span asp-validation-for="DtNascimento" class="text-danger"></span>
                <div id="divMensagem" style="color:red"></div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


<script type="text/javascript">

    //function ValidateAge(frm) {
    //
    //    var empresa = frm.Empresa.options[frm.Empresa.selectedIndex].text;
    //
    //    if (empresa.indexOf(" - PR") != -1 && frm.DtNascimento.value.length > 0) {
    //
    //        if (CalculaIdade(frm.DtNascimento.value) < 18) {
    //            document.getElementById('divMensagem').innerHTML = "Para o Paraná, são aceitos apenas fornecedores maiores de idade.";
    //            return false;
    //        }
    //
    //    }
    //
    //    document.getElementById('divMensagem').innerHTML = "";
    //    return true;
    //}
    //
    //function CalculaIdade(nascimento) {
    //
    //    var hoje = new Date();
    //    nascimento = new Date(nascimento);
    //
    //    return Math.floor(Math.ceil(Math.abs(nascimento.getTime() - hoje.getTime()) / (1000 * 3600 * 24)) / 365.25);
    //
    //}



</script>

}
